@model IEnumerable<Web.ViewModels.Invoice.InvoiceListVM>
@{
    ViewBag.Title = "Главная";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <div class='btn-toolbar pull-right'>
                    <div class='btn-group'>
                        <a asp-controller="Invoice" asp-action="Create" class='btn btn-primary' title="Добавить новую квитанцию">Добавить</a>
                    </div>
                </div>
                <h3>Последние квитанции</h3>
            </div>
            @if (Model.Any())
            {
                <div>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(x => x.KindName)</th>
                                <th>@Html.DisplayNameFor(x => x.ProviderName)</th>
                                <th>@Html.DisplayNameFor(x => x.InvoiceDate)</th>
                                <th>@Html.DisplayNameFor(x => x.Sum)</th>
                                <th>@Html.DisplayNameFor(x => x.PaymentSum)</th>
                                <th>@Html.DisplayNameFor(x => x.PaymentDate)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="@item.RowStyle">
                                    <td><a asp-controller="Invoice" asp-action="Detail" asp-route-id="@item.Id">@item.KindName</a></td>
                                    <td>@item.ProviderName</td>
                                    <td>@item.InvoiceDate</td>
                                    <td>@Html.DisplayFor(x => item.Sum)</td>
                                    <td>@Html.DisplayFor(x => item.PaymentSum)</td>
                                    <td>@Html.DisplayFor(x=>item.PaymentDate)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="text-center">
                        <strong>Ура. Счетов нет!</strong>
                    </div>
                </div>
            }
        </div>
    </div>
</div>