@model Web.ViewModels.Invoice.InvoiceDetailVM
@{
    ViewBag.Title = "Просмотр документа";
    var detailHeader = Model.KindName;
    if (!string.IsNullOrEmpty(Model.Number) && Model.Number.IndexOf("Без номера") < 0)
    {
        detailHeader += $" №: {Model.Number}";
    }
    detailHeader += $" за {Model.InvoiceDate}";
}

<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Главная</a></li>
            <li class="active">Просмотр документа</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-blue detail">
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>@Html.DisplayNameFor(x => x.KindName)</dt>
                        <dd>@Html.DisplayFor(x => x.KindName)</dd>

                        <dt>@Html.DisplayNameFor(x => x.ProviderName)</dt>
                        <dd><i class="fa fa-map-marker"></i>@Html.DisplayFor(x => x.ProviderName)</dd>

                        <dt>@Html.DisplayNameFor(x => x.InvoiceDate)</dt>
                        <dd><i class="fa fa-calendar-check-o"></i>@Html.DisplayFor(x => x.InvoiceDate)</dd>

                        <dt>@Html.DisplayNameFor(x => x.Number)</dt>
                        <dd><i class="fa fa-check-square-o"></i>@Html.DisplayFor(x => x.Number)</dd>
 
                        <dt>@Html.DisplayNameFor(x => x.Account)</dt>
                        <dd><i class="fa fa-user"></i>@Html.DisplayFor(x => x.Account)</dd>

                        <dt>Финансы</dt>
                        <dd>
                            <ul class="list-inline">
                                <li>
                                    <i class="fa fa-money"></i>
                                    <strong>@Html.DisplayFor(x => x.Sum)</strong>
                                    <small class="text-muted">@Html.DisplayNameFor(x => x.Sum).ToLower()</small>
                                </li>
                                <li>
                                    <strong>@Html.DisplayFor(x => x.PaymentSum)</strong>
                                    <small class="text-muted">@Html.DisplayNameFor(x => x.PaymentSum).ToLower()</small>
                                    @if (Model.PaymentDate != null)
                                    {
                                        <small class="text-muted">@Html.DisplayFor(x => x.PaymentDate)</small>
                                    }
                                </li>
                                <li>
                                    <strong>@Html.DisplayFor(x => x.Debt)</strong>
                                    <small class="text-muted">@Html.DisplayNameFor(x => x.Debt).ToLower()</small>
                                </li>
                                <li>
                                    <strong>@Html.DisplayFor(x => x.Penalty)</strong>
                                    <small class="text-muted">@Html.DisplayNameFor(x => x.Penalty).ToLower()</small>
                                </li>
                            </ul>
                        </dd>
                        <dt>@Html.DisplayNameFor(x => x.CreatedAt)</dt>
                        <dd><i class="fa fa-calendar"></i>@Html.DisplayFor(x => x.CreatedAt)</dd>
                        <dt>@Html.DisplayNameFor(x => x.UpdatedAt)</dt>
                        <dd><i class="fa fa-edit"></i>@Html.DisplayFor(x => x.UpdatedAt)</dd>
                        <dt>@Html.DisplayNameFor(x => x.Note)</dt>
                        <dd><i class="fa fa-comment"></i>@Html.DisplayFor(x => x.Note)</dd>
                    </dl>
                 </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-dark btn-no-bg" onclick="history.go(-1);"><i class="fa fa-arrow-circle-left"></i> Назад</button>
                    <div class="pull-right">
                        <a asp-controller="Invoice" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-green btn-no-bg"><i class="fa fa-edit"></i> Изменить</a>
                        <button data-toggle="modal" data-target="#modal-delete" class="btn btn-red btn-no-bg"><i class="fa fa-trash"></i> Удалить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-delete" role="dialog" aria-labelledby="myModalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Удаление документа</h4>
            </div>
            <div class="modal-body">
                <p class="text-center"><i class="fa fa-question-circle fa-2x"></i> Вы уверены, что хотите удалить данный документ?</p>
            </div>
            <div class="modal-footer">
                <form asp-controller="Invoice" asp-action="Delete" method="post" role="form">
                    <input type="hidden" name="Id" value="@Model.Id" id="Id" />
                    <button type="submit" class="btn btn-red btn-no-bg pull-left"><i class="fa fa-trash"></i> Удалить</button>
                    <button type="button" class="btn btn-dark btn-no-bg pull-right" data-dismiss="modal"><i class="fa fa-close"></i> Отмена</button>
                </form>
            </div>
        </div>
    </div>
</div>